# gtkwave
*.cf

# Quartus Prime
db/
incremental_db/
simulation/
output_files/
*.rpt
*.summary
*.sld
*.qws
*.qdf
*.qdb
*.jdi
*.smsg
*.pin
*.sof
*.pof
*.jic
*.hex
*.sdc
*.srf
*.sta.rpt
*.done
*.cdf
*.qip
*.qsys
*.qar
*.qts
*.qws
*.qxp
*.svf
*.jtag
*.jdi
*.jtag.rbf
*.jtag.svf
*.bak
